/*--按钮自定义开始--*/
.btn-system{
	width:30px;
	height:30px;
	background:none;
	border:0;
	cursor:pointer;
	outline:none;
	font-size:10px;
	transition:All 0.4s ease-in-out;
}
.btn-system:hover{
	transform:rotate(180deg);
}
.btn-system:nth-child(1):hover{
	transform:translate(0,3px);
}
.tool_normal{
	min-width:54px;
	height:58px;
	padding:0 8px;
	background:none;
	border:0;
	color:#d6d6d6;
	cursor:pointer;
	outline:none;
	font-size:12px;
}
.tool_normal i{
	display:inline-block;
	font-size:22px;
	margin:3px 0 0;
}
.tool_normal:hover{
	color:#4da0ea;
}
@media screen and (min-width: 1260px) {
.tool_normal {min-width:64px;}
.tool_normal i{font-size:26px;}
}
@media screen and (min-width: 1660px) {
.tool_normal,.tool_group {min-width:74px;}
}
.tool_arrow{
	width:16px;
	height:58px;
	padding:33px 0 0;
	margin:0;
	background:rgba(50,50,50,0.6);
	border:0;
	border-left:1px solid #323232;
	color:#fff;
	cursor:pointer;
	outline:none;
	font-size:12px;
}
.tool_arrow:hover{
	color:#4da0ea;
}
.tool_current{
	background:#191919;
	color:#4da0ea;
}
.btn-gray,.btn-gray2,.btn-blue,.btn-pack,.btn-dis,.btn-pack2,.btn-orange,.btn-green,.btn-scblue{
	min-height:26px;
	border-radius:2px;
	padding:0 20px;
	font-size:12px;
	cursor:pointer;
}
.btn-pack{
	border-radius:5px;
	padding:6px 13px;
}
.btn-pack2{
	border-radius:5px;
	padding:6px 9px;
}
.btn-gray,.btn-gray2,.btn-pack,.btn-pack2{
	background:#fff;
	border:1px solid #dfdfdf;
	color:#748697;
}
.btn-dis{
	background:#f1f1f1;
	border:1px solid #dfdfdf;
	color:#b9c0c7;
}
.btn-blue{
	background:#51aeff;
	border:1px solid #51aeff;
	color:#fff;
}
.btn-scblue{
	background:#fff;
	border: 1px solid #3798ed;
	color: #3798ed;
}
.btn-orange{
	background:#fe901a;
	border:1px solid #fe901a;
	color:#fff;
}
.btn-green{
	background:#81b943;
	border:1px solid #6a9836;
	color:#fff;
}
.btn-gray i,.btn-gray2 i,.btn-blue i,.btn-orange i,.btn-dis i,.btn-scblue i{
	display:inline-block;
	padding:0 4px 0 0;
	font-size:12px;
}
.btn-pack i,.btn-pack2 i{
	display:inline-block;
	padding:0;
	margin:1px 0 2px 0;
}
.btn-gray:hover,.btn-pack:hover,.btn-pack2:hover{
	border: 1px solid #3798ed;
	color: #3798ed;
}
.btn-gray2:hover{
	border: 1px solid #fe901a;
	color: #fe901a;
}
.btn-blue:hover,.btn-scblue:hover{
	color:#fff;
	background:#3797ec;
	border:1px solid #3797ec;
}
.btn-orange:hover{
	background:#e77903;
	border:1px solid #e77903;
}
.btn-green:hover{
	background:#76a313;
	border:1px solid #477f1e;
}
.btn-dis:hover{
	background:#f1f1f1;
	border:1px solid #dfdfdf;
	cursor:default;
}
.btn-icon{
	width:16px;
	height:16px;
	background:none;
	border:0;
	color:#a3a4a4;
	cursor:pointer;
}
.btn-icon:hover{
	color:#3798ed;
}
.btn-tab{
	min-width:62px;
	height:28px;
	background:#fff;
	border:1px solid #dfdfdf;
	color:#758697;
	font-size:12px;
	cursor:pointer;
	outline:none;
}
.btn-tab:hover{
	color:#3798ed;
}
.btn-tabactive{
	background:#3798ed;
	color:#fff;
	border:1px solid #3085cf;
}
.btn-tabactive:hover{
	color:#fff;
	cursor:default;
}
.btn-booktab{
	min-width:100px;
	height:32px;
	background:#fff;
	border:1px solid #dfdfdf;
	color:#758697;
	font-size:14px;
	cursor:pointer;
	outline:none;
}
.btn-booktab:hover{
	color:#f0b05a;
}
.btn-booktabactive{
	background:#f0b05a;
	color:#fff;
	border:1px solid #f0b05a;
}
.btn-booktabactive:hover{
	color:#fff;
	cursor:default;
}
.btn-pack{
	cursor:pointer;
	outline:none;
}
.btn-empty,
.btn-emptyred,
.btn-emptyblue{
	height:20px;
	line-height:20px;
	padding:0 4px;
	border:0;
	background:none;
	font-size:12px;
	color:#758697;
	cursor:pointer;
	outline:none;
}
.btn-empty:hover,
.btn-bigempty:hover{
	color:#3798ed;
}
.btn-bigempty{
	width:48px;
	height:48px;
	border:0;
	font-size:24px;
	background:none;
	color:#777;
	cursor:pointer;
	outline:none;
}
.btn-bigempty i{
	display:inline-block;
	font-size:28px;
}
.btn-emptyred{
	color:#f84f1b;
}
.btn-emptyred:hover{
	color:#db3400;
}
.btn-emptyblue{
	color:#3798ed;
}
.btn-emptyblue:hover{
	color:#3085cf;
}
.empty-active{
	color:#3798ed;
	border-bottom:1px solid #3798ed;
}
.btn-bluetext{
	height:20px;
	line-height:20px;
	padding:0 4px;
	border:0;
	background:none;
	font-size:12px;
	color:#3798ed;
	cursor:pointer;
	outline:none;
}
.btn-bluetext i{
	font-size:12px;
}
.btn-bluetext:hover{
	text-decoration:underline;
}
.btn-cart{
	position:relative;
	background:none;
	border:0;
	border-radius:5px;
	/*padding:7px 14px;*/
	font-size:12px;
	color:#748697;
	cursor:pointer;
}
.btn-cart:hover{
	color:#4da0ea;
}
.btn-cart i{
	display:inline-block;
	width:48px;
	height:48px;
	padding:0;
	background:url(../images/icon-cart.png) 0 0 no-repeat;
}
.btn-cart em{
	position:absolute;
	display:inline-block;
	display:none;
	top:0;
	left:0;
	width:48px;
	height:48px;
	padding:0;
	background:rgba(0,0,0,0.10);
	border-radius:6px;
}
.btn-cart:hover em{
	display:block;
}
i.icon-cartly{
	background-position:0 0;
}
i.icon-cartpz{
	background-position:0 -50px;
}
i.icon-carthl{
	background-position:0 -100px;
}
i.icon-cartmb{
	background-position:0 -150px;
}
i.icon-cartbq{
	background-position:0 -200px;
}
.btn-black{
	padding:8px;
	background:rgba(0,0,0,0.4);
	color:#fff;
	border:0;
	cursor:pointer;
}
.btn-black:hover{
	background:rgba(0,0,0,0.7);
}
.btn-fullclose{
	width:34px;
	height:34px;
	background:rgba(0,0,0,0.2);
	border:0;
	color:#fff;
	cursor:pointer;
}
.btn-fullclose:hover{
	background:#f5605f;
}
.tool_turn{
	display:inline-block;
	padding:0 8px;
	color:#d0d0d0;
	text-align:center;
	background:none;
	border:0;
	cursor:pointer;
	outline:none;
}
.tool_turn:hover{
	color:#4da0ea;
}
.tool_turn p.tool_turnbox{
	width:70px;
	height:24px;
	margin:7px 0 0;
	background:#1e1e1e;
	border:1px solid #404040;
	border-radius:4px;
	color:#fff;
}
.tool_turn p.tool_turnbox em,.tool_turn p.tool_turnbox input{
	display:inline-block;
	width:25px;
	height:20px;
	line-height:20px;
	margin:2px 8px 2px 2px;
	background:#3b3b3b;
	border:0;
	border-radius:2px;
	color:#fff;
	font-size:12px;
	text-align:center;
	outline:none;
}
.tool_turn p.tool_turnbox span{
	display:inline-block;
	width:22px;
	height:20px;
	line-height:20px;
	margin:2px 2px 2px 4px;
	font-size:12px;
}
.btn-select{
	display:inline-block;
	background:url(../images/select_arrow.png) center right no-repeat #fff;
	border:1px solid #dadada;
	border-radius:2px;
	outline:none;
	cursor:pointer;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#333;
	padding:0 0 0 6px;
	width:44px;
	height:26px;
	text-align:left;
}
.btn-select:hover{
	border:1px solid #1a8ad1;
}
.btn-select i{
	display:inline-block;
	width:14px;
	height:14px;
	margin:2px 0 0;
}
.btn-select i.select-nice1{
	width:12px;
	height:12px;
	background:#fff;
	border:1px solid #ccc;
}
.btn-select i.select-nice2{
	background:#000;
}
.btn-select i.select-nice3{
	background:#f40000;
}
.btn-select i.select-nice4{
	background:#eb1e78;
}
.btn-select i.select-nice5{
	background:#eb1e78;
}
.btn-select i.select-nice6{
	background:#cbcbcb;
}
.btn-select i.select-nice7{
	background:#009146;
}
.btn-select i.select-nice8{
	background:#fec014;
}
.btn-select i.select-nice9{
	background:#fefd1e;
}
.btn-select i.select-nice10{
	background:#00ff1f;
}
.btn-select i.select-nice11{
	background:#a5a5a5;
}
.btn-select i.select-nice12{
	background:#646464;
}
.btn-select i.select-nice13{
	background:#29abe3;
}
.btn-select i.select-nice14{
	background:#62b6ff;
}
.btn-select i.select-nice15{
	background:#bce0ff;
}
.roundbtn-translucent{
	width:24px;
	height:24px;
	border:0;
	border-radius:12px;
	background:rgba(0,0,0,0.5);
	box-shadow:0 0 4px rgba(255, 255, 255, 0.5);
	color:#fff;
	outline:none;
}
.roundbtn-translucent i{
	font-size:16px;
}
.roundbtn-translucent:hover{
	background:rgba(0,0,0,0.65);
	box-shadow:0 0 4px rgba(255, 255, 255, 1);
	cursor:pointer;
}
/*--按钮自定义结束--*/

/*--tab切换开始--*/
input.aside-tab{
  display: none;
}
.aside-tabline{
	display:block;
	float:left;
	width:1px;
	height:13px;
	margin:20px 0 0 0;
	border-left:1px solid #666;
}
label.aside-tab {
	font-size: 15px;
	display: block;
	float: left;
	width:70px;
	color:#666;
	padding:15px 4px 0 12px;
}
label.aside-tab:hover {
	cursor: pointer;
	color:#333;
}
#aside-tab1:checked ~ .aside-info1, #aside-tab2:checked ~ .aside-info2 {
	display: block;
}
input.aside-tab:checked + label {
	border-top-color: #FFB03D;
	border-right-color: #DDD;
	border-left-color: #DDD;
	border-bottom-color: transparent;
	text-decoration: none;
	font-weight: bold;
	color:#333;
}
.aside-info1,.aside-info2 {
	clear: both;
	display: none;
}
/*--tab切换结束---*/

/*--滚动条样式自定义开始--*/
::-webkit-scrollbar{
	width:10px;
	background:rgba(0,0,0, 0.03);
	border-radius:5px;
	border:1px solid #fff;
}
::-webkit-scrollbar-thumb{
	border-radius:5px;
	background:rgba(0,0,0, 0.15);
	border:1px solid #fff;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
	background:rgba(0,0,0, 0.3);
}
::-webkit-scrollbar:horizontal{
	height:10px;
}
/*--滚动条样式自定义结束--*/

/*--下拉列表自定义开始--*/
.select-list{
	-webkit-appearance:none;
	-webkit-padding-start:2px;
	background:url(../images/select_arrow.png) center right no-repeat #fff;
	-webkit-background-origin: content-box,border-box;
	border:1px solid #dadada;
	border-radius:2px;
	outline:none;
	cursor:pointer;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#333;
	padding:0 0 0 6px;
	width:66px;
	height:26px;
}
.select-list:hover{
	border:1px solid #1a8ad1;
}
.select-list option{
	border:1px solid #dadada;
	background:#fff;
	color:#514f52;
	padding:0 8px;
}
select.select-list2{
	width:100px;
}
select.select-list3{
	width:320px;
	margin-top:10px;
}
select.select-list4{
	width:320px;
	height:28px;
}
select.select-list5{
	width:130px;
}
select.select-list6{
	width:300px;
}
select.select-list7{
	width:145px;
}
select.select-list8{
	width:200px;
}
/*--下拉列表自定义结束--*/

/*--复选框自定义开始-*/
.ckb_box{
	-webkit-appearance: none;
	appearance: none;
	width:14px;
	height:14px;
	margin:0 5px 2px 0;
	cursor: pointer;
	background:#fff;
	border:1px solid #cacaca;
	border-radius:1px;
	position: relative;
}
.ckb_box:hover {
	border:1px solid #5799f1;
}
.ckb_box:active{
	background:#fff;
}
.ckb_box:checked {
	background:url(../images/icon-check.png) center center no-repeat #fff;
}
.ckb_box:checked::after {
	background:#fff;
	display: block;
	position: absolute;
	top: -6px;
	left: -5px;
}
.ckb_box:focus {
	outline:none;
	border:1px solid #5799f1;
}
/*--复选框自定义结束-*/

/*-------------------------checkbox(ckb_jc)-------------------------*/
.ckb_jc{
	-webkit-appearance: none;
	appearance: none;
	width:26px;
	height:26px;
	margin:0;
	cursor: pointer;
	border-radius:1px;
	border:1px solid #c2c2c2;
	background:url(../images/icon-ckb.png) -2px -2px no-repeat #fff;
	position: relative;
}
.ckb_jc:hover {
	border:1px solid #3798ed;
}
.ckb_jc:active{
	background:url(../images/icon-ckb.png) -2px -2px no-repeat #bce0ff;
}
.ckb_jc:checked {
	background:url(../images/icon-ckb.png) -2px -2px no-repeat #bce0ff;
}
.ckb_jc:checked::after {
	background:url(../images/icon-ckb.png) -2px -2px no-repeat #fff;
	display: block;
	position: absolute;
	top:-27px;
	left:-28px;
}
.ckb_jc:focus {
	outline:none;
	border:1px solid #c2c2c2;
}

/*-------------------------checkbox(ckb_xt)-------------------------*/
.ckb_xt{
	-webkit-appearance: none;
	appearance: none;
	width:26px;
	height:26px;
	margin:0;
	cursor: pointer;
	border-radius:1px;
	border:1px solid #c2c2c2;
	background:url(../images/icon-ckb.png) -2px -32px no-repeat #fff;
	position: relative;
}
.ckb_xt:hover {
	border:1px solid #3798ed;
}
.ckb_xt:active{
	background:url(../images/icon-ckb.png) -2px -32px no-repeat #bce0ff;
}
.ckb_xt:checked {
	background:url(../images/icon-ckb.png) -2px -32px no-repeat #bce0ff;
}
.ckb_xt:checked::after {
	background:url(../images/icon-ckb.png) -2px -32px no-repeat #fff;
	display: block;
	position: absolute;
	top:-27px;
	left:-28px;
}
.ckb_xt:focus {
	outline:none;
	border:1px solid #c2c2c2;
}

/*-------------------------checkbox(ckb_xhx)-------------------------*/
.ckb_xhx{
	-webkit-appearance: none;
	appearance: none;
	width:26px;
	height:26px;
	margin:0;
	cursor: pointer;
	border-radius:1px;
	border:1px solid #c2c2c2;
	background:url(../images/icon-ckb.png) -2px -62px no-repeat #fff;
	position: relative;
}
.ckb_xhx:hover {
	border:1px solid #3798ed;
}
.ckb_xhx:active{
	background:url(../images/icon-ckb.png) -2px -62px no-repeat #bce0ff;
}
.ckb_xhx:checked {
	background:url(../images/icon-ckb.png) -2px -62px no-repeat #bce0ff;
}
.ckb_xhx:checked::after {
	background:url(../images/icon-ckb.png) -2px -62px no-repeat #fff;
	display: block;
	position: absolute;
	top:-27px;
	left:-28px;
}
.ckb_xhx:focus {
	outline:none;
	border:1px solid #c2c2c2;
}

/*--单选按钮自定义开始--*/
.regular-radio {
	display: none;
}
.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #9b9b9b;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding:7px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
.regular-radio:checked + label:after {
	content: ' ';
	width:8px;
	height:8px;
	border-radius:10px;
	position: absolute;
	top:3px;
	left:3px;
	background: #34aff8;
	box-shadow: inset 0px 0px 9px rgba(0,0,0,0.3);
	text-shadow: 0px;
	font-size:24px;
}
.regular-radio:checked + label {
	background-color: #fff;
	color: #34aff8;
	border: 1px solid #9b9b9b;
}
.regular-radio + label:active,.regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.big-radio + label {
	padding:10px 20px 13px;
}
.big-radio:checked + label:after {
	width:16px;
	height:16px;
	left:3px;
	top:3px;
}
/*--单选按钮自定义结束--*/

/*--输入框禁灰开始-*/
input[readonly]{
	background:#ececed;
	color:#b8b8b8;
}
input[readonly]:hover{
	border:1px solid #dadada;
}
/*--输入框禁灰结束-*/

.progressbar{
	height:6px;
	border:1px solid #dfdfdf;
	background:#fff;
	border-radius:10px;
}
.progressbar p{
	height:6px;
	border:0;
	background:#16c633;
	border-radius:10px;
}

/*--下拉列表自定义开始--*/
.select_box{
    position: relative;
}
.select_box .link{
    position: relative;
	width:80px;
	height:26px;
	line-height:26px;
    padding:0 0 0 10px;
    background:url(../images/select_arrow.png) center right no-repeat #fff;
	border:1px solid #dadada;
	border-radius:2px;
    z-index: 2;
    text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
	outline:none;
	cursor:pointer;
}
.select_box .link:hover{
	border:1px solid #1a8ad1;
}
.select_box .submenu{
    position: absolute;
    top: 30px;
    width: 90px;
    border:1px solid #dadada;
	border-radius:2px;
	background:#fff;
	color:#514f52;
    max-height: 158px;
    overflow-y: auto;
	z-index: 3;
}
.select_box .submenu li{
    margin: 0;
    padding: 0 10px;
    line-height: 26px;
    height: 28px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
}
.select_box .submenu li:hover{
    background: #e9eff2;
    color: #589ded;
}
.select_box .submenu li a{
    color: #000;
}
.select_box.submenu li:hover a,
.select_box .submenu li:hover a:hover{
    color: #fff;
    text-decoration: none;
}
.select_box .link-calendar{
    position: relative;
    padding: 0 10px;
    height: 30px;
    border: 1px solid #e0e0e0;
    /*background:url("../images/minute_calendar.jpg") right 0  no-repeat #fff;*/
    line-height: 28px;
    z-index: 2;
}
.select_active .link{
	width:81px;
	margin:0 0 0 -1px;
	background:url(../images/select_arrow2.png) center right no-repeat #3798ed;
	border:1px solid #3085cf;
	box-shadow:1px 0 0 #3085cf inset;
	color:#fff;
}
/*--下拉列表自定义结束--*/
